@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.header {
  text-align: center;
  font-size: 1.5rem;
  color: #283138;
  padding: 0.5rem;
  background: rgb(255, 247, 173);
  background: linear-gradient(
    90deg,
    rgba(255, 247, 173, 1) 18%,
    rgba(255, 169, 249, 1) 80%
  );
}

.upi-btn h3 {
  text-align: center;
  margin: 3rem;
  margin-top: 2rem;
  font-size: 1.2rem;
}

.pay-btn {
  text-align: center;
}

.link-btn {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
  text-decoration: none;
  font-family: roboto;
  padding: 1rem;
  color: white;
  background-color: #349aff;
  border-radius: 1.8rem;
}

.below {
  margin: 2.5rem 0;
  text-align: center;
  display: none;
}

.choose {
  display: inline-block;
  margin: 1.6rem 0 0 0;
  padding: 0.8rem 1rem;
  background-color: #349aff;
  font-size: 1.1rem;
  font-weight: 500;
  color: white;
  border-radius: 2rem;
  font-family: roboto;
  text-decoration: none;
}

.scan {
  text-align: center;
  font-size: 1.2rem;
  margin: 3rem;
}

#qr {
  margin: 2rem 0 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upi-logos {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 1rem;
}

.upi-logo img {
  width: 15vw;
  height: 15vw;
  object-fit: cover;
}

.share-btn {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
  text-decoration: none;
  font-family: roboto;
  padding: 1rem;
  color: white;
  background-color: #349aff;
  border-radius: 1.8rem;
  margin: 1.5rem;
}

@media only screen and (min-width: 768px) {
  .upi-logo img {
    width: 80px;
    height: 80px;
  }
}
